body,p,ul,ol,.row
{
	margin: 0px;
	padding: 0px;
	color: #000;
	list-style: none;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
}
*:focus {
	outline: none;
	border: none;
	text-decoration: none;
}

/* dashboard css */
.dashboardContainer {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	overflow: hidden;
}

.sideBar {
	width: 18%;
	background: #000;
	color: #fff;
	padding: 50px 0px;
}

.sideBar a {
	color: #fff;
	opacity: 0.8;
	display: block;
	padding: 10px 20px;
	text-transform: capitalize;
	position: relative;
}

.logoSideBar {
	min-height: 100px;
	background: red;
	max-width: 190px;
	margin: 0px auto 50px;
}

li.hasChildren > a::after {content: "";display: block;width: 8px;height: 8px;border: 1px solid #ccc;position: absolute;right: 20px;top: 0;bottom: 0;margin: auto;border-left: 0;border-top: 0;transform: rotate(-48deg);transition: 0.5s all;}

ul.submenuSideBar {
	padding-left: 30px;
	display: none;
}

.mainAdminPanel {
	width: 100%;
	max-width: calc( 100% - 18%
		);
	background: #f6f6f6;
	/* padding: 0px 40px; */
	height: 100%;
	overflow-y: scroll;
}

.dashboardIndicatorsBoxes {
	padding: 0px 40px;
	margin: 50px 0px;
}

.tableContainer {
	padding: 20px 0px;
	background: #fff;
	border: 1px solid #cccccc70;
	margin: 0px 40px;
}

.headerAdminPanel {
	background: #fff;
	/* min-height: 80px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
}

.headerAdminPanel .container {
	max-width: 100%;
	width: 100%;
}

span.date {
	display: block;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
}

.profiler {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

span.profileImage {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #ccc;
	margin-right: 15px;
	overflow: hidden;
}

.profilerImage {
	align-items: center;
	display: flex;
	/* justify-content: space-between; */
}

span.nameProfiler {
	display: inline-flex;
	font-size: 15px;
	font-weight: 500;
	position: relative;
	padding-right: 20px;
}

span.nameProfiler::after {content: "";display: block;width: 7px;height: 7px;border: 3px solid #000;position: absolute;right: 0;top: 0px;bottom: 0;margin: auto;border-left: 0;border-top: 0;transform: rotate(45deg);}

span.profileImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.headerAdminPanel .row {
	align-items: center;
}

.indicatorlist {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
	justify-content: space-between;
}

.boxContainerIndicator {
	width: 23%;
	background: #fff;
	display: flex;
	align-items: center;
	padding: 30px;
}

.boxContainerIndicator h2 {
	font-size: 21px;
	font-weight: 1000;
}

.boxContainerIndicator h2 span {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 2px;
}

span.indicatorIcon {
	margin-right: 22px;
}
.tableHeader {
	padding: 0px 20px 20px;
	align-items: center;
	justify-content: space-between;
}

.row.tableHeader h2 {
	font-size: 20px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 600;
}

.row.tableHeader h2 span {
	display: block;
	font-size: 14px;
	margin: 10px 0px 0px;
	font-weight: 500;
}

.tableHeader a {
	display: block;
	margin-left: auto;
	margin-right: 0;
	max-width: max-content;
	text-decoration: underline;
	color: red;
	font-weight: 500;
}
.procudtContainerinTable {
	display: flex;
	align-items: center;
	width: 100%;
}

.procudtContainerinTable h6 {
	margin-bottom: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 223px;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 600;
}

span.imageProductImge {
	width: 40px;
	border: 1px solid #ccc;
	height: 40px;
	margin-right: 18px;
	overflow: hidden;
}

.pric span {
	display: inline-block;
	margin-right: 20px;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 13px;
}

.pric a {
	color: blue;
	font-size: 13px;
}

span.imageProductImge img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.images {
	display: flex;
	align-items: center;
}

span.imageBuyer {
	width: 35px;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-right: 9px;
	overflow: hidden;
}

span.imageBuyer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.images h4 {
	font-size: 15px;
	font-weight: 500;
	text-transform: capitalize;
}

.statusTable {
	display: flex;
	align-items: center;
	padding: 6px;
	background: #FFE6CF;
	color: #FE9060;
	margin-right: 40px;
}

.statusTable h6 {
	margin: 0px;
	margin-left: 10px;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 600;
}

.table-striped tbody tr:nth-of-type(odd) {
	background: #fff;
}
.profiler {
	position: relative;
	padding: 15px 0px;
	cursor: pointer;
}

ul.submenuProfiler {
	position: absolute;
	right: 0;
	top: 100%;
	background: #fff;
	display: block;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	min-width: 180px;
	border: 2px solid #ccc;
	display: none; 
    /*visibility: hidden;
    opacity: 0;*/
}
ul.submenuProfiler a {
	padding: 13px 17px;
	display: block;
}

ul.submenuProfiler::after {content: "";display: block;width: 10px;height: 10px;border: 3px solid #ccc;position: absolute;top: -7px;right: 20px;border-left: 0;border-bottom: 0;transform: rotate(-45deg);background: #fff;}
li.hasChildren > a.active::after {
	transform: rotate(45deg);
}
.table, .table td, .table th {
	vertical-align: middle;
}
.customerDetailPage {
    padding: 40px 30px;
}

.boxContainerorderDetail {
    background: #fff;
    border: 1px solid #000;
}

.headerOrderDetail {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.headerOrderDetail h4 {
    max-width: max-content;
    margin-left: auto;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 700;
}

.headerOrderDetail .row {
    align-items: center;
}

.headerOrderDetail h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.headerOrderDetail p {}

.headerDetalicolumns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 15px 35px;
}

.headerDetalicolumns h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px;
}

.headerDetalicolumns p {
    color: blue;
}

.listContainerofOrder li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.listContainerofOrder ul {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
    border-bottom: 1px solid #ccc;
}

.total h6 {
    font-size: 20px;
    font-weight: 800;
}

.total span {
    font-size: 20px;
    font-weight: 700;
}

.listContainerofOrder li span {
    font-size: 16px;
    font-weight: 700;
}

.listContainerofOrder h6 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
}

.addresstosend {
    padding: 20px 35px;
}

.addresstosend h6 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 6px;
}

.addresstosend p {
    font-size: 12px;
    font-weight: 400;
}

.boxDetalCOlumns .col-md-6 {
    padding: 0px;
}

.listContainerofOrder {
    /* padding: 0px 35px; */
}

.sendShipinfo {
    margin-left: 35px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    padding: 7px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 20px;
    transition: 0.6s all;
}

.sendShipinfo:hover {
    background: none;
    color: #000;
}
.boxDetalCOlumns {
    position: relative;
}

.boxDetalCOlumns::after {content: "";display: block;width: 1px;height: 100%;position: absolute;top: 0;bottom: 0;background: #ccc;left: 0;right: 0;margin: auto;}
.sellerandBuyerrwow .col-md-6 {
}

.headeSeller {
    /* border: 1px solid #ccc; */
    /* margin: 0px -15px; */
    width: 100%;
    padding: 20px 0px;
    background: #fff;
    margin: 40px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.sellerandBuyerrwow .row {
    margin: 0px -15px;
}

.headeSeller h2 {
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 0px 30px;
}

.headerinnerSeller {
    display: flex;
    align-items: center;
    padding: 0px 30px 20px;
    border-bottom: 1px solid #ccc;
}

.headerinnerSeller img {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.nameandIngo h6 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 2px;
}

.star-rating i {
    color: orange;
}

span.averageRating {
    display: inline-block;
    margin-right: 20px;
}

span.reviewCOunter {
    text-decoration: underline;
    opacity: 0.6;
}

.headeSeller h3 {
    font-size: 17px;
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.productbox {
    margin: 0px 30px;
    border: 1px solid #cccc;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.imageWrapper {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.productInfoContainer h6 {color: blue;font-size: 12px;text-transform: uppercase;font-weight: 600;margin-bottom: 9px;}

.productInfoContainer h2 {
    padding: 0px;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 0px 7px;
}

.brandandPrice {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.8;
}

span.brandName {
    margin-right: 10px;
    border-right: 1px solid #000;
    padding-right: 10px;
}

.priceIndividual span.priceTetx {
    color: blue;
}
.orderSummary {
    padding: 30px 30px 10px;
}.orderSummary h2 {
    padding: 0px;
    font-size: 16px;
}

.orderSummary li {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

span.priceOrderSummary {
    font-size: 16px;
    font-weight: 700;
}

.totalOrderSumamry {
    border: 1px dashed  #ccc;
    padding: 10px 30px;
    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
}

span.priceTetx {
    font-size: 19px;
}

.totalOrderSumamry h6 {
    font-size: 20px;
    font-weight: 700;
}
.allOrders .tableContainer {margin: 40px;}
.searchBrandSroting {}

.searchBrandSroting {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sorting select {
    border: 1px solid #ccc;
    min-height: 40px;
    min-width: 130px;
    padding: 0px 10px;
    margin-left: 20px;
}

.search {
    position: relative;
}

.search input {
    min-height: 40px;
    display: block;
    border: 1px solid #ccc;
    padding: 0px 10px;
    min-width: 290px;
}

.search button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    top: 0;
    bottom: 0;
    margin: auto;
}

.table th {
    text-transform: uppercase;
    font-weight: 700;
}
.allOrders .statusTable {
    margin: auto;
    text-align: center;
    max-width: max-content;
    padding: 8px 17px;
}

.allOrders .statusTable h6 {
    margin: 0;
}

.statusTable.completed {
    background: #00BC52;
    color: #fff;
}

.statusTable.cancled {
    background: #F64335;
    color: #fff;
}

.statusTable.processing {
    font-weight: 700;
    opacity: 1;
}

.statusTable.shipped {
    background: #000;
    color: #fff;
}
.customerHeader {
    background: #fff;
    padding: 40px;
}

.headerCustomerDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blockCusotmer a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    color: red;
    padding: 8px 21px;
    border-radius: 5px;
    transition: 0.5s all;
}

.blockCusotmer a:hover {
    background: red;
    color: #fff;
}

.customerDEtailColumn {
    padding: 0px 40px;
    border: 1px solid #ccc;
    background: #fff;
}

.customerDEtailColumn h6 {
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.3;
    margin-bottom: 12px;
    font-size: 14px;
}

.customerDEtailColumn h2 {
    font-size: 24px;
    font-weight: 700;
}

.cutomerDetail {
    display: flex;
    align-items: center;
}

span.imageCustomer {
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 30px;
    overflow: hidden;
}

span.imageCustomer img {
    object-fit: cover;
    /* width: 100%; */
    /* height: 100%; */
}

.contectInfoCustomerDetail h6 {
    font-size: 13px;
    color: blue;
}

.contectInfoCustomerDetail h2 {
    font-size: 23px;
    font-weight: 700;
    margin: 5px 0px;
}

.mailAndPhone {
    display: flex;
}

.mailAndPhone a:last-child {
    border-left: 1px solid #ccc;
    padding-left: 11px;
    margin-left: 11px;
}

.statusCustomer {
    border: 1px solid green;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 40px;
    max-width: max-content;
    margin: 20px 0px 0px;
    transition: 0.6s;
    border-radius: 5px;
}

.statusCustomer:hover {
    background: green;
    color: #fff;
}

.customerDEtailColumn .col {border-left: 1px solid #ccc;padding: 30px 30px;}

.customerDEtailColumn .col:first-child {
    padding: 30px 0px;
    border: none;
}

.customerDEtailColumn .row {
    align-items: center;
}

.tabbingContainer {
    padding: 30px 30px 0px;
    background: #fff;
}

.tabbingContainer .nav-link {
    background: #fff;
    border: navajowhite;
    border-bottom: 4px solid transparent;
    padding: 6px 40px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.8;
}

.tabbingContainer .nav-link.active {
    border-bottom: 4px solid blue;
}